body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
    color: black;
}
.navbar{
    background-color: aliceblue;
    border-radius: 1px solid black;
    padding: 10px 20px;
    font-weight: bold;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-tab{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-tab .nav-item.selected {
    background-color: #d3d3d3; /* Màu xám khi được chọn */
}
.nav-tab .nav-item{
    margin-right: 20px;
}

.nav-link{
    
    color: black;
    font-size: 20px;
    list-style-type: none;
}

.logo a{
    font-weight: blod;
    color: black;
    font-size: 24px;
}

.nav-link ion-icon{
    margin-left: 10px;
}
.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links .nav-item {
    margin-right: 30px;
    position: relative;
}

.nav-links .nav-link {
    text-decoration: none;
    color: #000;
}

.nav-links .dropdown-menu {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    z-index: 1000;
    opacity: 0; /* Bắt đầu ẩn */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Hiệu ứng chuyển đổi cho opacity và transform */
    transform: translateY(-20px); /* Di chuyển lên trên */
}

.nav-links .dropdown-menu .dropdown-item {
    padding: 10px 20px;
}

.nav-links .dropdown-menu .dropdown-item a {
    text-decoration: none;
    color: #000;
    white-space: nowrap; /* Đảm bảo mỗi mục chỉ chiếm một dòng */
}

.nav-links .dropdown-menu .dropdown-item a:hover {
    background-color: #f8f8f8;
}

.nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1; /* Hiển thị menu với hiệu ứng mờ dần */
}